.form
  = form_with model: @shop, local: true do |f|
    .field
      %p.title
        お店や食べ物の画像
        %span.required
          必須
      .images
        = f.file_field :image
        -# = f.file_field :image, :multiple => true
        -# .post__drop__box__container
        -#   .prev-content
        -#   .label-content
        -#     %label{for: "shop_images_attributes_0_image", class: "label-box", id: "label-box--0"}
        -#       %pre.label-box__text-visible クリックしてファイルをアップロード
        -#   .hidden-content
        -#     = f.fields_for :images do |i|
        -#       = i.file_field :image, type: "file", name: "shop[images_attributes][0][image]", class: "hidden-field", id: "shop_images_attributes_0_image"
        -#       %input{class:"hidden-field", type: "file", name: "shop[images_attributes][1][image]", id: "shop_images_attributes_1_image" }
        -#       %input{class:"hidden-field", type: "file", name: "shop[images_attributes][2][image]", id: "shop_images_attributes_2_image" }
    .field
      %p.title
        お店の名前
        %span.required
          必須
      .name
        = f.text_field :name, placeholder: "喫茶店の名前"
    .field
      %p.title
        評価
        %span.required
          必須
      .evaluation{ id: :star }
        = f.hidden_field :evaluation, id: :review_star
        :javascript
          $('#star').raty({
            starOff: "#{asset_path('star-off.png')}",
            starOn: "#{asset_path('star-on.png')}",
            starHalf: "#{asset_path('star-half.png')}",
            scoreName: 'shop[evaluation]',
            half: true,
          });
    .field
      %p.title
        都道府県
        %span.required
          必須
      .prefecture
        = f.collection_select :prefecture_code, Prefecture.all, :id, :name, prompt: "---"
    .field
      %p.title
        最寄駅
        %span.required
          必須
      .station
        = f.text_field :station, placeholder: "例）渋谷駅"
    .field
      %p.title
        移動手段
        %span.required
          必須
      .transportation
        = f.select :move, [["--"],["徒歩"],["車"]]
        %span.means で
        = f.text_field :time, placeholder: "例）3"
        %span.about 分くらい
    .field
      %p.title
        説明
      .description
        = f.text_area :description, placeholder: "例）　お店の雰囲気がすごく良い。ショートケーキとミルクティーがおすすめ。"
    .actions
      = f.submit "Send"