.form
  = form_with model: @shop, local: true do |f|
    .field
      %p.title
        お店や食べ物の画像
        %span.required
          必須
      .images
        = f.file_field :image
    - if @shop.errors.any?
      .shop-error
        = @shop.errors.full_messages_for(:image)[0]
    .field
      %p.title
        お店の名前
        %span.required
          必須
      .name
        = f.text_field :name, placeholder: "喫茶店の名前"
    - if @shop.errors.any?
      .shop-error
        = @shop.errors.full_messages_for(:name)[0]
    .field
      %p.title
        評価
        %span.required
          必須
      .evaluation{ id: :star }
        = f.hidden_field :evaluation, id: :review_star
        :javascript
          $('#star').raty({
            starOff: "#{asset_path('star-off.png')}",
            starOn: "#{asset_path('star-on.png')}",
            starHalf: "#{asset_path('star-half.png')}",
            scoreName: 'shop[evaluation]',
            half: true,
          });
    - if @shop.errors.any?
      .shop-error
        = @shop.errors.full_messages_for(:evaluation)[0]
    .field
      %p.title
        最寄駅
        %span.required
          必須
      .station
        = f.text_field :station, placeholder: "例）渋谷駅"
    - if @shop.errors.any?
      .shop-error
        = @shop.errors.full_messages_for(:station)[0]
    .field
      %p.title
        移動手段
        %span.required
          必須
      .transportation
        = f.select :move, [["--"],["徒歩"],["車"]]
        %span.means で
        = f.text_field :time, placeholder: "例）3"
        %span.about 分くらい
    - if @shop.errors.any?
      .shop-error
        = @shop.errors.full_messages_for(:move)[0]
    - if @shop.errors.any?
      .shop-error
        = @shop.errors.full_messages_for(:time)[0]
    .field
      %p.title
        説明
      .description
        = f.text_area :description, placeholder: "例）　お店の雰囲気がすごく良い。ショートケーキとミルクティーがおすすめ。"
    .actions
      = f.submit "投稿する"