.cafe-column
  - @shops.each do |shop|
    .cafe-col
      = link_to shop_path(shop.id) do
        %figure
          = image_tag shop.image.url
        .cafe-detail
          .cafe-name
            %p= shop.name
            %p.cafe-evaluation{ id: "star-evaluation-#{shop.id}" }
              :javascript
                $('#star-evaluation-#{shop.id}').raty({
                  starOff: "#{asset_path('star-off.png')}",
                  starOn: "#{asset_path('star-on.png')}",
                  starHalf: "#{asset_path('star-half.png')}",
                  half: true,
                  readOnly: true,
                  score: "#{shop.evaluation}",
                });
            %p.evaluation-count= shop.evaluation
          .cafe-station
            = shop.station
            %span.cafe-move
              = shop.move
              = shop.time
              分くらい
      .like
        = render "likes/like", shop: shop