= render "./layouts/header"
%main.main
  .main-visual
    = image_tag 'topImg_tb.jpg'
  .main-wrap
    .main-area
      %section
        .head02
          %h2
            Latest coffee shops
        = render "shop"
        = link_to list_shops_path, class: "more" do
          %p.point
            %span.dot
              …
            %span.text
              もっと見る
    -# .main-area
    -#   %section
    -#     .head02
    -#       %h2
    -#         カフェ一覧
    = render "./layouts/footer"