= render "./layouts/header"
%main.main
  .main-visual
    = image_tag 'main-visual.jpg'
  .main-message
    %p
      お気に入りの喫茶店を探そう
  .main-wrap
    - if flash[:notice]
      %p.alert
        = flash[:notice]
    .top-area
      .main-area
        %section
          .head02
            %h2
              最新の喫茶店
          = render "shop"
          = link_to list_shops_path, class: "more" do
            %p.point
              %span.dot
                …
              %span.text
                もっと見る
      = render "./layouts/sidebar"
    = render "./layouts/footer"