= render "./layouts/header"
%main.main
  .list-area
    %section
      .head02
        %h2
          喫茶店の詳細
      .cafe-list
        %figure
          = image_tag @shop.image.url
        .cafe-individual
          .cafe-name
            %p= @shop.name
            %p.cafe-evaluation{ id: "star-evaluation-#{@shop.id}" }
              :javascript
                $('#star-evaluation-#{@shop.id}').raty({
                  starOff: "#{asset_path('star-off.png')}",
                  starOn: "#{asset_path('star-on.png')}",
                  starHalf: "#{asset_path('star-half.png')}",
                  half: true,
                  readOnly: true,
                  score: "#{@shop.evaluation}",
                });
          .cafe-station
            = @shop.station
            %span.cafe-move
              = @shop.move
              = @shop.time
              分くらい
          .description
            = @shop.description
          .post-name
            - if user_signed_in? && @shop.user.nickname == current_user.nickname
              = link_to mypage_user_path(current_user.id) do
                %span.post
                  投稿者：
                %span.name
                  = @shop.user.nickname
            - else
              = link_to user_path(@shop.user_id) do
                %span
                  投稿者：
                %span.name
                  = @shop.user.nickname
          - if user_signed_in? && current_user.id == @shop.user_id
            .btn
              %p.edit-btn
                = link_to "編集", edit_shop_path
              %p.destroy-btn
                = link_to "削除", shop_path(@shop.id), method: :delete, data: {confirm: "本当に削除しますか？"}
      .comment-submit
        - if current_user
          = form_with(model: [@shop, @comment], local: true, id: "new-comment") do |form|
            = form.text_area :text, placeholder: "【例】  実際に行ってみましたが、本当にコーヒーが美味しかったです。また行きたいです。", rows: "2", class: "textbox"
            = form.submit "コメントする", class: "form-submit"
        - else
          %p.must
            ※※ コメントの投稿には新規登録/ログインが必要です ※※
      .comment-show
        %p.title
          コメント一覧
        - if @comments
          - @comments.each do |comment|
            .comment-box
              %p.username
                = comment.user.nickname
              %p.text
                = comment.text
= render "./layouts/footer"