= render "./layouts/header"
%main.main
  .mypage-area
    %section
      .head02
        %h2
          = "#{@user.nickname}のページ"
      = render "relationships/follow"
      .my-column.user
        %ul.menu
          %li.menu-item.active.like-tab
            = link_to "いいねリスト", '#'
          %li.menu-item.following-tab
            = link_to "フォローリスト", '#'
          %li.menu-item.follower-tab
            = link_to "フォロワーリスト", '#'
        %ul.contents
          %li.content.show
            .my-like
              - @user.like_shops.each do |shop|
                .my-like-col
                  = link_to shop_path(shop.id) do
                    %figure
                      = image_tag shop.image.url
                    .like-detail
                      .like-name
                        %p.name
                          = shop.name
                        %p.like-evaluation{ id: "star-evaluation-#{shop.id}" }
                          :javascript
                            $('#star-evaluation-#{shop.id}').raty({
                              starOff: "#{asset_path('star-off.png')}",
                              starOn: "#{asset_path('star-on.png')}",
                              starHalf: "#{asset_path('star-half.png')}",
                              half: true,
                              readOnly: true,
                              score: "#{shop.evaluation}",
                            });
                      .like-station
                        = shop.station
                        %span.like-move
                          = shop.move
                          = shop.time
                          分くらい
          %li.content.following
            .lists
              - @user.following.each do |user|
                .list
                  - if current_user.id == user.id
                    = link_to mypage_user_path(current_user.id) do
                      = user.nickname
                  - else
                    = link_to user_path(user) do
                      = user.nickname
          %li.content.follower
            .lists
              - @user.follower.each do |user|
                .list
                  - if current_user.id == user.id
                    = link_to mypage_user_path(current_user.id) do
                      = user.nickname
                  - else
                    = link_to user_path(user) do
                      = user.nickname
= render "./layouts/footer"