= render "./layouts/header"
%main.main
  .main-area
    %section
      .head02
        %h2
          = @user.nickname
      = link_to "ユーザー情報編集", edit_user_path(current_user)
      = link_to "ログアウト", destroy_user_session_path, method: :delete
= render "./layouts/footer"