= render "./layouts/header"
%main.main
  .sign-area
    - if flash[:alert]
      %p.alert
        = flash[:alert]
    %section
      .head02
        %h2
          Sign in
      .form
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .field
            %p.title
              email
              %span.required
                必須
            .email
              = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "example@example.com"
          .field
            %p.title
              password
              %span.required
                必須
            .password
              = f.password_field :password, autocomplete: "current-password", placeholder: "password"
          .actions
            = f.submit "Sign in"
      .sign-in
        = link_to "Sign up", new_user_registration_path
= render "./layouts/footer"
