= render "./layouts/header"
%main.main
  .sign-area
    - if flash[:alert]
      %p.alert
        = flash[:alert]
    %section
      .head02
        %h2
          ログイン
      %p.guest
        = link_to "ゲストとしてログインする", users_guest_sign_in_path, method: :post
      .form
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .field
            %p.title
              メールアドレス
              %span.required
                必須
            .email
              = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "example@example.com"
          .field
            %p.title
              パスワード
              %span.required
                必須
            .password
              = f.password_field :password, autocomplete: "current-password", placeholder: "password"
          .actions
            = f.submit "ログイン"
= render "./layouts/footer"
