%header.header
  .header-area
    .logo
      %h1
        = link_to image_tag("logo.png", alt: "coffee-marks"), root_path
    .hamburger
      %span
      %span
      %span
    %nav.global-nav
      %ul
        - if user_signed_in?
          %li
            = link_to "喫茶店を投稿する", new_shop_path
          %li
            = link_to "#{current_user.nickname}のマイページ", mypage_user_path(current_user.id)
          %li
            = link_to "ログアウト", destroy_user_session_path, method: :delete
        - else
          %li
            = link_to "新規登録", new_user_registration_path
          %li
            = link_to "ログイン", new_user_session_path
        %li
          = link_to "ブログ", "https://inamublog.com/", target: :_blank
        %li.search
          = form_with(url: search_shops_path, local: true, method: :get, class: "search-form") do |f|
            = f.text_field :keyword, placeholder: "投稿をキーワードで検索する", class: "search-input"
            = f.submit "検索", class: "search-btn"