%header.header
  .header-area
    .logo
      %h1
        = link_to image_tag("logo.png", alt: "coffee-marks")
    %nav.global-nav
      %ul
        %li
          = link_to "Coffee post", "#"
        %li
          = link_to "Log out", "#"
        %li
          = link_to "Sign up", "#"
        %li
          = link_to "Sign in", "#"
        %li
          = link_to "Blog", "https://inamublog.com/", target: :_blank